@import '@doabit/semantic-ui-sass/src/scss/semantic-ui.scss';

.chatbox
{
    height: 750px;
}
.custom-class
{

    color: black;

}
#messages
{
    height: 15em;
    overflow: auto;
}
.input
{
    button{
        display: none;
    }
}